= simple_form_for @task,:html => {:class => 'form-vertical task-form' }, remote: true do |f|

  -# f.inputs do
  = f.input :title#, input_html: {class: "task_form"}
  = f.input :description, input_html: {cols: 30, rows: 10 }#, input_html: {class: "task_form"}
  = f.input :private#, input_html: {class: "task_form"}
  -# tasktypes = TaskType.first
  = f.input :type, as: :radio_buttons, collection: TaskType.all, label_html: {id: "task_type"} #- tasktypes[0]
  - if @task.id
    =f.input :id, as: :hidden
  %input.hidden{name: "task[creator]", value: 1}
  .subtasks#subtask_list.control-group
    %label Subtasks
    %ol.droppable.ui-widget-content.sortable#subtask_sortable
      - @task.subtasks.each do |task|
        = render partial: 'subtask_input', locals: { task: task }
        -#Todo: list-style outside is not displayed :S



  -# f.actions do
  .actions
    = f.button :submit
    -# f.button :cancel
    //%li.action.input_action#task_preview_action
    .btn.btn-info#task_preview_action=t('task.preview.button')


- content_for :left_content do
  = render 'left_content'
