= semantic_form_for @task do |f|
  = f.error_messages
  = f.inputs do
    = f.input :title
    = f.input :description
    = f.input :private
    = f.input :typ, as: :select, collection: TaskType.all
  = f.actions do
    = f.action :submit
    = f.action :cancel
