= semantic_form_for @task, remote: true do |f|

  = f.inputs do
    = f.input :title, input_html: {class: "task_form"}
    = f.input :description, input_html: {class: "task_form"}
    = f.input :private, input_html: {class: "task_form"}
    -# tasktypes = TaskType.first
    = f.input :type, as: :select, collection: TaskType.all #- tasktypes[0]
    .subtasks#subtask_list
      %h4 Subtasks
      %ol.droppable.ui-widget-content.sortable#Target_sortable


  = f.actions do
    = f.action :submit, button_html: {class: "pjax-container"}
    = f.action :cancel, button_html: {class: "pjax-container"}


- content_for :left_content do

  = render 'subtasks_list'
