- title "Tasks"

%table
  %tr
    %th Title
    %th Type
  - for task in @tasks
    %tr
      %td= task.title
      %td= TaskType.name_for task.typ.to_i
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Task", new_task_path
